@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.white {
    color: white !important;
}

.redff0000 {
    color: #FF0000 !important;
} 

.grayC4C4C4 {
    color: #C4C4C4 !important;
}

.blue2f92db {
    color: #2F92DB !important;
}

.bg-blue2f92db {
    background-color: #2F92DB !important;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 400px !important;
}

.app-logo {
    font-weight: bold;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.finishup-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-input {
    width: 544px;
    height: 100px;
    border-radius: 12px !important;
}

.small-input {
    height: 61px;
    border-radius: 12px !important;
}

.button-input {
    width: 544px;
    height: 84px !important; 
    font-size: 36px !important;
    font-weight: bold ;
    border-radius: 12px !important;
}