@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.white {
  color: white !important;
}

.redff0000 {
  color: #ff0000 !important;
}

.grayC4C4C4 {
  color: #c4c4c4 !important;
}

.blue2f92db {
  color: #2f92db !important;
}

.bg-blue2f92db {
  background-color: #2f92db !important;
}

.bg-blue09173A {
  background-color: #09173a !important;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  min-width: 400px !important;
}

.app-logo {
  font-weight: bold;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finishup-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-input {
  width: 544px;
  height: 100px;
  border-radius: 12px !important;
}

.small-input {
  height: 61px;
  border-radius: 12px !important;
}

.button-input {
  width: 544px;
  height: 84px !important;
  font-size: 36px !important;
  font-weight: bold;
  border-radius: 12px !important;
}

.sidebar {
  position: fixed !important;
  display: flex;
  height: 100%;
  width: 340px;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin-left: 340px;
  min-width: 720px !important;
}

.user-avatar {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-menu {
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 20px;
}

.sidebar-active {
  background-color: #ffc700 !important;
  color: black !important;
}

.sidebar-subtitle {
  font-size: 30px;
  font-weight: 300;
}

.sidebar-sub-icon {
  width: 38px;
  height: 38px;
}

.survey-item {
  text-align: center;
  max-width: 350px;
  min-width: 250px;
}

.survey-item h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

.survey-item p {
  color: #585858;
}

.separator-black {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 8px 0px;
}

.thread-item {
  width: 100%;
}

.thread-item article {
  display: flex;
  border: 1.5px solid black;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  color: black;
  justify-content: space-between;
}

.thread-avatar {
  width: 100px;
  height: 100px;
}

.thread-item-description h3 h4 {
  font-weight: bolder;
}

.thread-item-description {
  margin-left: 32px;
}

.thread-item-reply {
  font-weight: bold;
  font-size: 18px;
  color: #767070;
}

.profile-wrapper {
  margin: auto;
  border: 2px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
}

.profile-reedem-wrapper {
  margin: auto;
  border: 2px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.profile-picture-section {
  text-align: center;
}

.profile-item-title {
  color: #f61919;
  font-size: 30px;
  margin-bottom: 0px;
}

.profile-item-description {
  font-size: 24px;
}

.btn-topup {
  background-color: #07d228;
  color: white;
  font-size: 24px;
  border-radius: 12px;
}

.top-left {
  position: absolute;
  top: 265px;
  left: 600px;
  /* transform: translate(-38%, -43%); */
}

.centered {
  position: absolute;
  top: 52%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.centered-bottom {
  position: absolute;
  top: 63%;
  left: 61%;
  transform: translate(-50%, -50%);
}
